GROCY_URL=<GROCY_URL>/api/objects/products?accept=application/json
GROCY_API_KEY=<GROCY_API_KEY>
OPENAI_API_KEY=sk-<OPENAI_API_KEY>
INVENTORY_FILE=.inventory.txt  
RESPONSE_FILE=.openai_response.txt
PERSONALITIES=personalities.json
SLACK_API_KEY=xoxb-<SLACK_API_KEY>
CHANNEL_ID=<CHANNELID>
