# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'
  schedule:
    - cron: '0 11,15 * * *' # Runs at 11am and 3pm every day

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20.3
      
      - name: Build and run Go program
        run: |
          go build -o grocy_openai_ingredient_mixer.go
          ./grocy_openai_ingredient_mixer
